# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
venv/

# VS Code
.vscode/

# JetBrains
.idea/

# Jupyter
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env

# Archivos personales del proyecto
project_files/